<!-- the title section, just a brief description of what this is -->
<div class="title">
  <h1>
    {{title}}
  </h1>
  <p>
    {{description}}
  </p>
</div>

<!-- this section lets the users choose what languages they are translating between -->
<div class="section">
  <h4>
    {{languagesTitle}}
  </h4>
  <!-- dropdown menus and switch button-->
  <p>
    {{fromLabel}}
    <app-dropdown [isFrom]="true" [newLanguage]="newFromLang" (languageChosen)="setFromLang($event)"></app-dropdown>
    <app-switch-button (clicked)="switchLanguage()"></app-switch-button>
    {{toLabel}}
    <app-dropdown [isFrom]="false" [newLanguage]="newToLang" (languageChosen)="setToLang($event)"></app-dropdown>
  </p>
</div>

<!-- this section is the input text that will be translated -->
<div class="section">
  <h4>
    {{inputTitle}}
  </h4>
  <!--input box and helpful phrases buttons-->
  <div class="text-box">
    <textarea type="text" [(ngModel)]="inputText"></textarea>
  </div>
  <div class="center">
    <div class="phrases">
      <p>
        {{phraseLabel}}
        <app-key-phrase-button [phraseChoice]="1" (phraseClicked)="addPhrase($event)"></app-key-phrase-button>
        <app-key-phrase-button [phraseChoice]="2" (phraseClicked)="addPhrase($event)"></app-key-phrase-button>
        <app-key-phrase-button [phraseChoice]="3" (phraseClicked)="addPhrase($event)"></app-key-phrase-button>
        <app-key-phrase-button [phraseChoice]="4" (phraseClicked)="addPhrase($event)"></app-key-phrase-button>
      </p>
    </div>
  </div>
  <!--translate button-->
  <div class="center">
    <app-translate-button [toLang]="toLang" [fromLang]="fromLang" [text]="inputText" (clicked)="updateText()" (translatedText)="addTranslatedText($event)" (updateTranslation)="updateTranslation()"></app-translate-button>
  </div>
</div>

<!-- this section is the translated text section, editable in case the users want to change anything -->
<div class="section">
  <h4>
    {{translationTitle}}
  </h4>
  <!--input box with translation-->
  <div class="text-box">
    <textarea type="text" [(ngModel)]="translatedText"></textarea>
  </div>
  <!--complete interaction button-->
  <div class="center">
    <app-complete-button></app-complete-button>
  </div>
</div>