<div class="title">
  <h1>
    Where do I go?
  </h1>
  <p> 
    This simple web app helps two people who don't speak the same language give each other directions. 
  </p>
</div>

<div class="section">
  <h4>
    Choose the languages.
  </h4>
  <!-- dropdown menus and switch button-->
  <p>
    From: <app-dropdown></app-dropdown>
    <app-switch-button></app-switch-button>
    To: <app-dropdown></app-dropdown>
  </p>
</div>

<div class="section">
  <h4>
    What do you want to say?
  </h4>
  <!--input box and helpful phrases-->
    <app-text-box></app-text-box>
    <div class="center">
      <div class="phrases">
        <p> 
          Some helpful phrases:
          <app-key-phrase-button [phraseChoice]="1"></app-key-phrase-button>
          <app-key-phrase-button [phraseChoice]="2"></app-key-phrase-button>
          <app-key-phrase-button [phraseChoice]="3"></app-key-phrase-button>
          <app-key-phrase-button [phraseChoice]="4"></app-key-phrase-button>
        </p>
      </div>
    </div>
  <!--translate button-->
  <div class="center">
    <app-translate-button></app-translate-button>
  </div>
</div>

<div class="section">
  <h4>
    Your translation:
  </h4>
  <!--input box with translation-->
  <app-text-box></app-text-box>
  <!--complete interaction button-->
  <div class="center">
    <app-complete-button></app-complete-button>
  </div>
</div>
