.section
{
     text-align: left;
     margin: 20px 50px 50px 50px;
}

.title
{
    text-align: center;
    margin: 20px 10px;
}

p
{
    margin: 20px 0px;
}

.center
{
    text-align: center;
}

.phrases
{
    display: inline-block;
}

.text-box
{
    margin: 20px 0px;
    padding: 0px;
}

textarea
{
    width: 100%;
    height: 150px;
}